.container {
  width: 500px;
  margin: 20px auto;
  text-align: center;
}

.axis {
  opacity: 0.5;
}

.threesy-line .threesy-grid-line-x {
  stroke: lightgray;
}
.threesy-line .threesy-grid-line-y {
  stroke: #FF576C;
  stroke-dasharray: 5;
  display: none;
}

.threesy-line path.line {
  stroke: darkgray;
}

.threesy-line .threesy-data-point {
  fill: darkgray;
  stroke: darkgray;
}

.tooltip-element {
  font-family: 'proxima-nova', 'Helvetica Neue', sans-serif;
  font-size: 0.8em;
}
.tooltip-element .tooltip-content {
  background: #FF576C !important;
}
.tooltip-element .tooltip-content:before {
  border-top-color: #FF576C !important;
}

table {
  width: 100%;
  font-family: 'proxima-nova', 'Helvetica Neue', sans-serif;
  font-size: 0.8em;
  border-collapse: collapse;
}
th {
  font-weight: bold;
  padding: 8px;
  border-bottom: 2px solid #ddd;
}
td {
  padding: 8px;
  border-top: 1px solid #ddd;
}
