html {
  font-size: 12px;
  font-family: 'proxima-nova', 'Helvetica Neue', sans-serif;
}

.container {
  width: 500px;
  margin: 20px auto;
  text-align: center;
}

.axis {
  opacity: 0.5;
}

.threesy-line .threesy-grid-line-x {
  stroke: lightgray;
}
.threesy-line .threesy-grid-line-y {
  stroke: #FF576C;
  stroke-dasharray: 5;
  display: none;
}

.threesy-line path.line {
  stroke: darkgray;
}

.threesy-line .threesy-data-point {
  fill: darkgray;
  stroke: darkgray;
}

table {
  width: 100%;
  border-collapse: collapse;
}
th {
  font-size: 2rem;
  font-weight: 200;
  padding: 8px;
}
tbody tr:nth-child(odd) {
  background-color: #f5f5f5;
}
td {
  padding: 8px;
}
